# ===============
# === General ===
# ===============

# Logging level (optional, default 'info')
#LOG_LEVEL=info

# Port to listen HTTP requests on (optional, default '5007')
#PORT=5007

# Use polling mode (optional, default false')
#USE_POLLING=false

# Base URL (required unless USE_POLLING is 'true', https only)
BASE_URL=https://<YOUR_PUBLIC_DOMAIN>

# Bot token (required)
BOT_TOKEN=<YOUR_TELEGRAM_BOT_TOKEN>

# Bot verbosity level (optional, could be 'silent', 'minimal', 'normal', 'verbose', default 'normal')
#BOT_VERBOSITY=normal

# IDs of users that are able to use the bot (required, comma separated)
USER_IDS=999999999,999999999

# API key for /input endpoint to send messages outside of Telegram (optional, 16 symbols min)
#INPUT_API_KEY=



# ===============
# === OpenAI ====
# ===============

# API key (required)
OPENAI_API_KEY=<YOUR_OPENAI_API_KEY>

# API endpoint (optional, default 'https://api.openai.com/v1')
#OPENAI_API_ENDPOINT=http://localhost/v1

# Model to use (optional, default 'gpt-4o')
#OPENAI_MODEL=gpt-4o

# Temperature (optional, default '0.2')
#OPENAI_TEMPERATURE=0.2



# ===============
# === Actual ====
# ===============

# Password (required)
ACTUAL_PASSWORD=<YOUR_PASSWORD>

# API endpoint (required)
ACTUAL_API_ENDPOINT=http://localhost:5006

# Sync ID (required, from Settings > Show advanced settings > Sync ID)
ACTUAL_SYNC_ID=<YOUR_SYNC_ID>

# Currency (optional, ISO 4217 code, default EUR, all other currencies will be converted to this one)
#ACTUAL_CURRENCY=EUR

# Default category (optional, default 'Food')
#ACTUAL_DEFAULT_CATEGORY=Food

# Default account (optional, default 'Cash')
#ACTUAL_DEFAULT_ACCOUNT=Cash

# Data directory (optional, default '/app/data', '/app' is the application root inside the container)
#ACTUAL_DATA_DIR=/app/my-data

# Note prefix for transactions (optional, default '🤖')
#ACTUAL_NOTE_PREFIX=[TG]
